@import url('https://fonts.googleapis.com/css?family=Comfortaa:700');

html {
  width: 100%;
  height: 100%;
}

body {
  width: 90%;
  height: 90%;
  font-family: Comfortaa;
  font-size: 16px;
}

.weather-viewer {
  position: relative;
  top: 10%;
  margin: 0px auto 0px auto;
  width: 35vmax;
  height: 35vmax;
  border: 0.6vw solid grey;
  border-radius: 50%;
  transition-property: border-color;
  transition-duration: 4s;
}

.weather-viewer__inner-circle {
  height: 100%;
  width: 100%;
  background: black;
  border-radius: 50%;
}

.weather-viewer__key {
  background: white;
  border-radius: 20%;
  opacity: 0;
  animation-name: spin;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.weather-viewer__key--fade-in {
  opacity: .25;
}

.weather-viewer__main-display {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: white;
  margin: auto;
  text-align: center;
  border-radius: 50%;
}

.weather-viewer__pic {
  width: 40%;
  margin: auto;
}

.weather-viewer__temperature {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.weather-viewer__temperature, .weather-viewer__summary {
  font-size: 2.5vmax;
  margin: auto;
}

.weather-viewer__unit {
  border-radius: 10%;
  width: 3vmax;
  margin-bottom: 4%;
  padding: 4%;
  box-shadow: .2vmax .2vmax .4vmax black;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.weather-viewer__unit--hidden {
  visibility: hidden;
}

.weather-viewer__unit:hover {
  cursor: pointer;
  opacity: 0.5;
}

.weather-viewer__unit:active {
  cursor: pointer;
  opacity: 1;
  background: rgb(105, 112, 114);
}

.weather-viewer__splash {
  background: white;
  border-radius: 20%;
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 3s;
}

.weather-viewer__splash p {
  position: relative;
  font-size: 2.5vmax;
  width: 80%;
  top: 18%;
  left: 11%;
}

.weather-viewer__splash--hidden {
  opacity: 0;
  visibility: hidden;
}

.weather-viewer__reload-btn.fa {
  position: absolute;
  bottom: 30%;
  left: 46%;
  cursor: pointer;
  font-size: 2.9vmax;
}

.weather-viewer__reload-btn:hover {
  opacity: 0.5;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: 0.5;
  animation-timing-function: linear;
}

.weather-viewer__reload-btn:active {
  opacity: 1;
  background: rgb(105, 112, 114);
}

.weather-viewer__timeout-message {
  font-size: 2.2vmax;
  display: block;
  position: absolute;
  top: 18%;
  left: 11%;
  width: 80%;
}

.weather-viewer__tag {
  display: block;
  position: absolute;
  font-size: 1.8vmax;
  bottom: -50%;
  left: -10%;
  width: 120%;
}

.full-spin {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: 2;
  animation-timing-function: linear;
}

.u_centered-overlapped {
  position: absolute;
  left: 15%;
  top: 14%;
  width: 70%;
  height: 70%;
}

@media all and (max-width: 450px) {
  .weather-viewer__temperature, .weather-viewer__reload-btn, .weather-viewer__summary {
  font-size: 3vmax;
  }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
